<!DOCTYPE html>
<html lang="en">
<%- include("../partials/Header.ejs") %>

    <body>
        <%- include("../partials/Navbar.ejs") %>
            <div class="card container my-3">
                <div class="card-header">
                    -------BLOGS---------
                </div>
                <div class="card-body">
                    <% if(blogs.length>0){ %>
                        <% blogs.forEach( (blog)=>{ %>
                            <h5 class="card-title">
                                <a href="/singleblog/<%= blog._id %>" class="btn btn-success">
                                    <%= blog.title %>
                                </a>
                    
                            </h5>
                            <p class="card-text">
                                <%= blog.desc %>
                            </p>
                            <% }) %>
                                <% } else { %>
                                    <h2 class="card-title"> No blogs</h2>
                                    <% } %>
                </div>
            </div>
            
        <%- include("../partials/Footer.ejs") %>

    </body>

</html>